body{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
}
#container{
  background-color: ghostwhite;
  width:800px;
  height: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  
}

#row1{
  flex: 0 0 auto;
  text-align: center;
}

#row2{
  display: flex;
  flex: 1;
}

.col{
  flex: 1;
  text-align: center;
}



#btnCalculate{
  width: 50%;
  height: 50px;
  font-size: 20px;
  display:block;
  margin : 10px auto;
  
}

#row1 h1{
  background-color: grey;
  text-align:center;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}

.row {
  
  display: flex;
 
  margin: 5px 0;
}



.rowIMC{
  text-align: center;
  
  font-size: 60px;
}

.rowbar{
  
  justify-content: center;
  color:black;
  text-align: left;
}
#bar1{
  background-color: yellow;
  height: 20px;
  width:80%;
  
}
#bar2{
  background-color: green;
  height: 20px;
  width:80%;
  
}
#bar3{
  background-color: orange;
  height: 20px;
  width:80%;
  
}
#bar4{
  background-color: red;
  height: 20px;
  width:80%;
  
}

#triangule{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red;
  position: relative;
  left:795px;
  /*
  0 = 0
  195 = 18.5
  395 = 24.5
  595 = 29.5


  */
}
