body{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
}
#container{
  background-color: ghostwhite;
  width:800px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  
}

#row1{
  flex: 0 0 auto;
  text-align: center;
}

#row2{
  display: flex;
  flex: 1;
}

.col{
  flex: 1;
  text-align: center;
}

#txtS{
  width:90%;
  height: 200px;
  display: block;
  margin:10px auto;
}

#btnCalculate{
  width: 50%;
  height: 200px;
  font-size: 20px;
  display:block;
  margin : 10px auto;
  
}

#row1 h1{
  background-color: grey;
  text-align:center;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}

.row{
  
  display: flex;
 
  margin: 5px 0;
}



.rowIMC{
  text-align: center;
  background-color: aqua;
  font-size: 60px;
}

img{
  width:100%;
  height: 100%;
}