body{
  background-color: rgb(147, 59, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
}
#form01{
  background-color: ghostwhite;
  width:800px;
  height: 500px;
  padding: 30px;

  
}
#txtS{
  width:90%;
  height: 200px;
  display: block;
  margin:10px auto;
}

#btnCalculate{
  width: 50%;
  height: 30px;
  
  display:block;
  margin : 10px auto;
  
}

#headTitle{
  background-color: grey;
  text-align:center;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}
.row{
  
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.row label{
  width:50%;
  
}

.row input{
  width:50%;
}
